@charset "ISO-8859-1";

html {
  font-family: sans-serif !important;
  -webkit-text-size-adjust: 100% !important;
      -ms-text-size-adjust: 100% !important;
}
body {
  margin: 0 !important;
  background: url('https://images.pexels.com/photos/4629633/pexels-photo-4629633.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') center no-repeat;
  background-size: 100 !important;
  width :100% !important;
  background-color: black !important;

}
h1{
	color:white !important;
	font-size: 350% !important;
}
h3{
	color:white !important;
	font-size:17px !important;
	
}